.example-spacer {
    flex: 1 1 auto;
  }
mat-toolbar{ 
    height: 80px;
}
  @media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: pink;
    }

    #menuInicio{
        display: none;
    }

    #menuProducto{
        display: none;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÃS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px){
    mat-toolbar{
        background-color: rgb(255, 255, 255);
    }

    #menuSecciones{
        display: none;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo img {
    height: 80px;
    width: 100px;
}