.example-spacer {
    flex: 1 1 auto;
  }
  .carrito-icon {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  #panel-lateral {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Oculto inicialmente */
    z-index: 999;
  }
  
  .panel-visible {
    transform: translateX(0); /* Muestra el panel */
  }
mat-toolbar{ 
    height: 80px;
}
  @media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: rgb(0, 57, 243);
    }

    #menuInicio{
        display: none;
    }

    #menuProducto{
        display: none;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÁS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px){
    mat-toolbar{
        background-color: rgb(255, 255, 255);
    }

    #menuSecciones{
        display: none;
    }
    .logo img{
        width: 200px;
        height: 200px;
    }
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ce0909;
    padding: 10px 20px;
}

