.example-spacer {
    flex: 1 1 auto;
  }
  @media (min-width: 300px) and (max-width: 700px){
    mat-toolbar{
        background-color: pink;
    }

    #menuInicio{
        display: none;
    }

    #menuProducto{
        display: none;
    }
}

/* ENCAPSULA ESTILOS PARA PANTALLAS MÃS GRANDES -> ej.: computadora, televisor */
@media (min-width: 700px){
    mat-toolbar{
        background-color: rgb(236, 134, 0);
    }

    #menuSecciones{
        display: none;
    }
}