<mat-toolbar>
    <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #seccion="matMenu">
        <button mat-menu-item routerLink="/inicio">𝘐𝘯𝘪𝘤𝘪𝘰</button>
        
    </mat-menu>
    
    <nav>
        <div class="logo">
            <img src="../../../../../assets/logo.png" alt="Logo">
        </div>
        <!-- Botón para la vista de inicio-->

    </nav>
    <button mat-button routerLink="/inicio">𝘐𝘯𝘪𝘤𝘪𝘰</button>
    <button mat-button routerLink="/producto">𝘗𝘳𝘰𝘥𝘶𝘤𝘵𝘰</button>




    <span class="example-spacer"></span>
    <!--Inicio de sesión y el registro de un nuevo usuario-->
    <button mat-button [matMenuTriggerFor]="usuario"><mat-icon>person</mat-icon></button>
    <mat-menu #usuario="matMenu">
        <button mat-menu-item routerLink="/registro">registrarse</button>
        <button mat-menu-item routerLink="/inicio-sesion">Iniciar Sesión</button>
    </mat-menu>
    <!--carrito-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>

</mat-toolbar>