<footer style="background-color: #000000; padding: 20px; text-align: center; color: #ffffff;">
    <p> © 2024 Game Store Corporation. Todos los derechos reservados. Todas las marcas registradas pertenecen a sus respectivos dueños en Argentina y otros países.
        Todos los precios incluyen IVA (donde sea aplicable).
    <p>
      <a href="/terminos">Términos y condiciones</a> |
      <a href="/privacidad">Política de privacidad</a> |
      <a href="/contacto">Contacto</a>
    </p>
  </footer>