<mat-card>
    <mat-card-header>
        <mat-card-title>¿Qué Hago Si Tengo Problemas Con Una Compra?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Si has tenido problemas con una compra, no te preocupes. A continuación, te proporcionamos una guía para resolver cualquier inconveniente:</p>
        
        <ol>
            <li><strong>Verifica la Información de Tu Pedido:</strong> Revisa el correo de confirmación de tu pedido y asegúrate de que todos los detalles (producto, cantidad, cuenta) sean correctos.</li>
            <li><strong>Consulta el Estado de Tu Pedido:</strong> Accede a tu cuenta en nuestra tienda y verifica el estado de tu pedido. Esto te dará información sobre si tu pedido ha sido procesado.</li>
            <li><strong>Contacta al Servicio de Atención al Cliente:</strong> Si encuentras un problema o tienes dudas, no dudes en contactar a nuestro servicio de atención al cliente. Puedes hacerlo a través de:
                <ul>
                    <li><strong>Teléfono:</strong> Llama al [2994131630].</li>
                    <li><strong>Correo Electrónico:</strong><a href="mailto:alejoferrada473@gmail.com">Enviar un correo a Alejo</a>
                        .</li>
                    
                </ul>
            </li>
            <li><strong>Revisa nuestra Política de Devoluciones:</strong> Si el problema está relacionado con el producto (clave incorrecta, etc) consulta nuestra política de devoluciones para saber cómo proceder.</li>
            <li><strong>Ten a Mano la Información de Tu Pedido:</strong> Cuando contactes al servicio de atención al cliente, asegúrate de tener a mano el número de pedido y cualquier otra información relevante que pueda ayudar a resolver tu problema más rápidamente.</li>
            <li><strong>Paciencia y Comprensión:</strong> Agradecemos tu comprensión y paciencia mientras trabajamos para resolver cualquier inconveniente. Nuestro objetivo es asegurarnos de que estés satisfecho con tu compra.</li>
        </ol>

        <p>Si sigues estos pasos, deberías poder resolver cualquier problema relacionado con tu compra de manera eficiente. ¡Estamos aquí para ayudarte!</p>
    </mat-card-content>
</mat-card>
