.container{
    display: flex;
    padding: 10px;  
}

h1{
    text-align:center;
    color: #ffffff;
}


.contenido{
    width: 350px;
    display: inline-block;
    padding: 3px;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #ffffff;

}
p{
    padding: 5px;
}


@media (min-width: 400px) and (max-width: 900px){

}

@media (min-width: 700px){

}

#boton{
  border: 1px solid #000000;
}