.container{
    display: flex;
    padding: 10px;  
}

h1{
    text-align:center;
    color: #ffffff;
}


.contenido{
    width: 350px;
    display: inline-block;
    padding: 3px;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #ffffff;
    box-shadow: 0 800px 1000px white;
    transition: transform 0.3s, box-shadow 0.3s;
}
p{
    padding: 5px;
}
.contenido:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
} 


@media (min-width: 400px) and (max-width: 900px){

}

@media (min-width: 700px){

}

#boton{
  border: 1px solid #000000;
}