.container{
    display: flex;
    padding: 10px;
    justify-content: center;
    border: 2px ;
}
h1{
    text-align:center;
    color: #ffffff;
}

.contenido{
    width: 400px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    border: 1px solid #2b41ff;
    
}


p{
    padding: 5px;
}

@media (min-width: 300px) and (max-width: 700px){

}

@media (min-width: 700px){

}

#boton{
  border: 1px solid #000000;
}