<div id="tamaño">
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


    <div class="carousel-inner">
      <div class="carousel-item active" id="carousel">
        <img src="https://images.alphacoders.com/116/1168382.jpg"  alt="...">
      </div>
      <div class="carousel-item" id="carousel">
        <img src="https://i.pinimg.com/originals/b8/92/db/b892db1200eda432a00a5a48b4c38999.jpg"  alt="...">
      </div>
      <div class="carousel-item" id="carousel">
        <img src="https://external-preview.redd.it/vwkce0ZHX4rJVEFuXJ3EalY6cYLr6-_xSA6jW4uwvn8.jpg?auto=webp&s=b1eeef3a5eb47c453f477f4ca88bb7c138b1cdc9"  alt="...">
      </div>
    </div>


    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



  