.carousel-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 100%;
    height: auto; 
    overflow: hidden;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
}

.carousel-inner img {
    width: 100%;
    display: block;
}
@media (max-width: 600px) {
    .inicio-container {
      padding: 10px;
    }
  
    .carousel {
      width: 100%;
      height: auto;
    }
    .carousel {
        width: calc(100% + 40px); /* Ancho del carrusel ajustado para ser más grande */
        margin-left: -20px; /* Ajuste para centrar el carrusel */
        margin-right: -20px; /* Ajuste para centrar el carrusel */
      }
    
    
  }
